package templates

templ LandingPage(loginurl string) {
	@layout("Contatos") {
		<div>
			<h2>What is this application about?</h2>
			<p>Your contacts should be yours, and not owned and locked into specific applications.</p>
			<p>Here you can manage your contacts, and share it with other applications</p>
			<p>not authenticated, Please <a href={ loginurl }>login</a>.</p>
		</div>
	}
}
