
package templates

import "contatos/model"

templ ProfileFindResult(profiles []model.Profile) {
	@layout("Find friends") {
		<ul>
			for _, p := range profiles {
				<li><a href={ "/friend-request?profileId=" + p.ID }>{ p.Name }</a></li>
			}
		</ul>
	}
}
